// Color
$gradientColor : linear-gradient(to right top, #6a55f8, #6853fa, #6650fc, #644efd, #624bff);
$primaryColor : #6266f5;
$secondaryColor : #2C2B3D;
$tersierColor : #323351;
$textColor : #EFEFEF;

// Font Family
$fontFamily : 'Poppins', sans-serif;

// Font Size
$biggest : 3.5rem;
$bigger : 3rem;
$big : 2rem;
$largest : 1.5rem;
$large : 1.3rem;
$base : 1rem;
$small : .95rem;
$smallest : .9rem;

//  Box Shadow
$shadow : 0px 5px 15px 0px;

// Padding
$paddingLarge : 3rem 7rem;
$paddingSmall : 1.9rem 1.5rem;

// Padding for Button
$paddButton : .6rem .8rem;

// Border Radius for Button
$radius : 21px;

// Animation
$anime : all .3s;