footer {
    padding: $padding-large;
    color: $tersier-color;
}

.left-footer {
    h3 {
        font-size: $largest;
        letter-spacing: $space;
    }

    .text {
        font-weight: $thin;
        letter-spacing: $space;
        opacity: .6;
    }

    .button {
        @include button();
        display: block;
        margin: auto;

        &:hover {
            @include hoverButton();
        }
    }
}

.right-footer {
    h3 {
        font-size: $largest;
        letter-spacing: $space;
    }

    .socmed a {
        display: flex;
        @include flexStyle();
        padding: .8rem;
        border-radius: 50%;
        border: 2px solid $primary-color;
        transition: $animation;
        opacity: .6;

        &:hover {
            @include hoverButton();
            background-color: $primary-color;
            opacity: 1;
        }

        span {
            display: flex;
            align-items: center;
        }
    }
}

hr {
    height: 2px !important;
}

footer p.last-text {
    font-size: $smallest;
    font-weight: $thin;
    letter-spacing: $space;

    a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}