// Styles
$primaryColor: #303030;
$secondaryColor: #FFF;
$bgColor: #F2F4F3;
$overlayColor: #333;
$primaryBtn: #FFA012;
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}