#services {
    padding: $padding-large;
    color: $tersier-color;
    background-color: $primary-dark-color;

    .section-title {
        font-size: $big;
        font-weight: $thick;
        margin-bottom: 2.8rem;
    }
}

.animate-services {
    width: 20rem;
}

.services-card{
    background-color: $primary-darker-color;
    min-height: 20rem;
    border: none;
    transition: $animation;
    box-shadow: $shadow-card;

    &:hover {
        transform: translateY(-8px);
        transition: $animation;
    }

    .card-title {
        font-size: $larger;
    }

    .card-text {
        opacity: .6;
        font-weight: $thin;
        letter-spacing: $space;
        line-height: $line-small;
    }
}

.card-icon {
    height: 130px;

    i {
        color: $primary-color;
        font-size: $biggest;
    }
}